<!DOCTYPE html>
html(lang="en")
	head
		meta(charset="UTF-8")
		meta(name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1")
		title Document
		link(href="https://fonts.googleapis.com/css?family=PT+Sans:400,400i,700" rel="stylesheet")
		link(rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/simple-line-icons/2.4.1/css/simple-line-icons.css")
		link(rel="stylesheet", href="css/style.css")
	body.page
		header.head
			.black
			.head__top
				ul.sosial
					li.sosial__icon
						a.sosial__link.icon-social-facebook(href="#")
					li.sosial__icon
						a.sosial__link.icon-social-twitter(href="#")
					li.sosial__icon
						a.sosial__link.icon-social-instagram(href="#")
				.contact
					p.contact__phone (067) 462-06-07
					p.contact__days Пн - пт: 9:00 - 18:00
					.lang
						a.lang__block(href="#")
							img.lang__img(src="img/ua.png", alt="ua")
						a.lang__block(href="#")
							img.lang__img.lang__img_active(src="img/ru.png", alt="ru")
						a.lang__block(href="#")
							img.lang__img(src="img/gb.png", alt="en")
			.head__menu
				a.logo(href="#")
					img.logo__img(src="img/logo-big.png", alt="BILDEX")
				nav.menu
					.menu-open
						.menu-open__global.menu-open__global_top
						.menu-open__global.menu-open__global_middle
						.menu-open__global.menu-open__global_bottom
					ul.menu__items
						li.menu__item.menu__item_parent
							a.menu__link(href="#") О нас
								svg.menu__svg(width="8.03" height="6" viewBox="0 0 8.03 6")
									path.menu__arow(d="M1013.04,85.178v-1.9a0.249,0.249,0,0,0-.28-0.278h-1.14l-2.59,2.439L1006.44,83h-1.14a0.256,0.256,0,0,0-.3.278v1.9l4.03,3.812Z" transform="translate(-1005 -83)")
							ul.menu__dropdown
								li.menu__item.menu__item_dropdown
									a.menu__link.menu__link_dropdown.scroll(href="#service") Что мы делаем
								li.menu__item.menu__item_dropdown
									a.menu__link.menu__link_dropdown.scroll(href="#counters") Бизнес в цифрах
								li.menu__item.menu__item_dropdown
									a.menu__link.menu__link_dropdown.scroll(href="#projects") Наши проекты
								li.menu__item.menu__item_dropdown
									a.menu__link.menu__link_dropdown.scroll(href="#rules") Как мы работаем
								li.menu__item.menu__item_dropdown
									a.menu__link.menu__link_dropdown.scroll(href="#partners") Наши партнеры
								li.menu__item.menu__item_dropdown
									a.menu__link.menu__link_dropdown.scroll(href="#connection") Обратная связь
						li.menu__item
							a.menu__link(href="#") Проекты
								svg.menu__svg(width="8.03" height="6" viewBox="0 0 8.03 6")
									path.menu__arow(d="M1013.04,85.178v-1.9a0.249,0.249,0,0,0-.28-0.278h-1.14l-2.59,2.439L1006.44,83h-1.14a0.256,0.256,0,0,0-.3.278v1.9l4.03,3.812Z" transform="translate(-1005 -83)")
						li.menu__item.menu__item_parent
							a.menu__link(href="#") Услуги
								svg.menu__svg(width="8.03" height="6" viewBox="0 0 8.03 6")
									path.menu__arow(d="M1013.04,85.178v-1.9a0.249,0.249,0,0,0-.28-0.278h-1.14l-2.59,2.439L1006.44,83h-1.14a0.256,0.256,0,0,0-.3.278v1.9l4.03,3.812Z" transform="translate(-1005 -83)")
							ul.menu__dropdown
								li.menu__item.menu__item_dropdown
									a.menu__link.menu__link_dropdown(href="#") Генеральный подряд
								li.menu__item.menu__item_dropdown
									a.menu__link.menu__link_dropdown(href="#") Общестроительные работы
								li.menu__item.menu__item_dropdown
									a.menu__link.menu__link_dropdown(href="#") Отделочные работы
								li.menu__item.menu__item_dropdown
									a.menu__link.menu__link_dropdown(href="#") Инжиниринг
						li.menu__item
							a.menu__link(href="#") Новости
								svg.menu__svg(width="8.03" height="6" viewBox="0 0 8.03 6")
									path.menu__arow(d="M1013.04,85.178v-1.9a0.249,0.249,0,0,0-.28-0.278h-1.14l-2.59,2.439L1006.44,83h-1.14a0.256,0.256,0,0,0-.3.278v1.9l4.03,3.812Z" transform="translate(-1005 -83)")
						li.menu__item
							a.menu__link(href="#") Контакты
								svg.menu__svg(width="8.03" height="6" viewBox="0 0 8.03 6")
									path.menu__arow(d="M1013.04,85.178v-1.9a0.249,0.249,0,0,0-.28-0.278h-1.14l-2.59,2.439L1006.44,83h-1.14a0.256,0.256,0,0,0-.3.278v1.9l4.03,3.812Z" transform="translate(-1005 -83)")
						.lang.lang_nav
							a.lang__block(href="#")
								img.lang__img(src="img/ua.png", alt="ua")
							a.lang__block(href="#")
								img.lang__img.lang__img_active(src="img/ru.png", alt="ru")
							a.lang__block(href="#")
								img.lang__img(src="img/gb.png", alt="en")
			.slider
				.slider__block
					.slider__wrap.clearfix
						.slider__item
							.best
								p.best__head
									| Сотворим 
									br
									| совершенство
								.best__about 
									p.best__text Мы воплотили проект, который занял 1 место на всеукраинском конкурсе интерьеров в 2014 году
								a.more.more_top(href="#") Узнать больше о проекте  
									svg.arow(width="42" height="6.969" viewBox="0 0 42 6.969")
										path.arow__item(d="M1095,568.138h39.57l-1.83,1.641a0.64,0.64,0,0,0-.19.374,0.512,0.512,0,0,0,.12.375l0.14,0.188a0.572,0.572,0,0,0,.8,0l2.98-2.7a0.021,0.021,0,0,0,.02-0.024l0.19-.187a0.451,0.451,0,0,0,.16-0.363,0.522,0.522,0,0,0-.16-0.387l-0.19-.188h-0.02v-0.023l-3.03-2.766a1,1,0,0,0-.2-0.117,0.493,0.493,0,0,0-.42,0,0.487,0.487,0,0,0-.17.117l-0.15.188a0.466,0.466,0,0,0-.11.375,0.592,0.592,0,0,0,.19.375l1.78,1.617h-39.5Z" transform="translate(-1094.97 -563.906)")
						.slider__item
							.best
								p.best__head
									| Сотворим 
									br
									| совершенство 2
								.best__about 
									p.best__text Мы воплотили проект, который занял 1 место на всеукраинском конкурсе интерьеров в 2014 году
								a.more.more_top(href="#") Узнать больше о проекте  
									svg.arow(width="42" height="6.969" viewBox="0 0 42 6.969")
										path.arow__item(d="M1095,568.138h39.57l-1.83,1.641a0.64,0.64,0,0,0-.19.374,0.512,0.512,0,0,0,.12.375l0.14,0.188a0.572,0.572,0,0,0,.8,0l2.98-2.7a0.021,0.021,0,0,0,.02-0.024l0.19-.187a0.451,0.451,0,0,0,.16-0.363,0.522,0.522,0,0,0-.16-0.387l-0.19-.188h-0.02v-0.023l-3.03-2.766a1,1,0,0,0-.2-0.117,0.493,0.493,0,0,0-.42,0,0.487,0.487,0,0,0-.17.117l-0.15.188a0.466,0.466,0,0,0-.11.375,0.592,0.592,0,0,0,.19.375l1.78,1.617h-39.5Z" transform="translate(-1094.97 -563.906)")
						.slider__item
							.best
								p.best__head
									| Сотворим 
									br
									| совершенство 3
								.best__about 
									p.best__text Мы воплотили проект, который занял 1 место на всеукраинском конкурсе интерьеров в 2014 году
								a.more.more_top(href="#") Узнать больше о проекте  
									svg.arow(width="42" height="6.969" viewBox="0 0 42 6.969")
										path.arow__item(d="M1095,568.138h39.57l-1.83,1.641a0.64,0.64,0,0,0-.19.374,0.512,0.512,0,0,0,.12.375l0.14,0.188a0.572,0.572,0,0,0,.8,0l2.98-2.7a0.021,0.021,0,0,0,.02-0.024l0.19-.187a0.451,0.451,0,0,0,.16-0.363,0.522,0.522,0,0,0-.16-0.387l-0.19-.188h-0.02v-0.023l-3.03-2.766a1,1,0,0,0-.2-0.117,0.493,0.493,0,0,0-.42,0,0.487,0.487,0,0,0-.17.117l-0.15.188a0.466,0.466,0,0,0-.11.375,0.592,0.592,0,0,0,.19.375l1.78,1.617h-39.5Z" transform="translate(-1094.97 -563.906)")
						.slider__item
							.best
								p.best__head
									| Сотворим 
									br
									| совершенство 4
								.best__about 
									p.best__text Мы воплотили проект, который занял 1 место на всеукраинском конкурсе интерьеров в 2014 году
								a.more.more_top(href="#") Узнать больше о проекте  
									svg.arow(width="42" height="6.969" viewBox="0 0 42 6.969")
										path.arow__item(d="M1095,568.138h39.57l-1.83,1.641a0.64,0.64,0,0,0-.19.374,0.512,0.512,0,0,0,.12.375l0.14,0.188a0.572,0.572,0,0,0,.8,0l2.98-2.7a0.021,0.021,0,0,0,.02-0.024l0.19-.187a0.451,0.451,0,0,0,.16-0.363,0.522,0.522,0,0,0-.16-0.387l-0.19-.188h-0.02v-0.023l-3.03-2.766a1,1,0,0,0-.2-0.117,0.493,0.493,0,0,0-.42,0,0.487,0.487,0,0,0-.17.117l-0.15.188a0.466,0.466,0,0,0-.11.375,0.592,0.592,0,0,0,.19.375l1.78,1.617h-39.5Z" transform="translate(-1094.97 -563.906)")
					.slider__arow.slider__arow_prev Назад
					.slider__arow.slider__arow_next Вперед
			.head__down
				a.head__down-arow.scroll(href="#main") Вниз
		main.main#main
			section.service#service
				.service__container
					h2.title-section Что мы делаем
					ul.item
						li.item__block
							.item__hover
							div
								.item__img
									svg(width="55" height="42.94" viewBox="0 0 55 42.94")
										path.item__svg(d="M190.5,988.512a3,3,0,0,0-3-3h-8a3,3,0,0,0-3,3" transform="translate(-156 -985)")
										path.item__svg(d="M210.5,1027.43h-54v-36h54v36Z" transform="translate(-156 -985)")
										path.item__svg(d="M156.5,1009.51h12m4,4h-4v-8h4v8Zm26,0h-4v-8h4v8Zm-26-4h22m4,0h12" transform="translate(-156 -985)")
								p.item__title Генеральный подряд
							.item__wrap
								p.item__text Мы берем на себя полную отстветсвенность за качество выполняемых работ
								a.more.more_black(href="#") Узнать больше  
									svg.arow(width="42" height="6.969" viewBox="0 0 42 6.969")
										path.arow__item.arow__item_black(d="M1095,568.138h39.57l-1.83,1.641a0.64,0.64,0,0,0-.19.374,0.512,0.512,0,0,0,.12.375l0.14,0.188a0.572,0.572,0,0,0,.8,0l2.98-2.7a0.021,0.021,0,0,0,.02-0.024l0.19-.187a0.451,0.451,0,0,0,.16-0.363,0.522,0.522,0,0,0-.16-0.387l-0.19-.188h-0.02v-0.023l-3.03-2.766a1,1,0,0,0-.2-0.117,0.493,0.493,0,0,0-.42,0,0.487,0.487,0,0,0-.17.117l-0.15.188a0.466,0.466,0,0,0-.11.375,0.592,0.592,0,0,0,.19.375l1.78,1.617h-39.5Z" transform="translate(-1094.97 -563.906)")
						li.item__block
							.item__hover
							div
								.item__img
									svg(width="49" height="54.5" viewBox="0 0 49 54.5")
										path.item__svg(d="M471.5,1025a2,2,0,0,1,2,2s1.083,8,7,8h5a6,6,0,0,0,6-6v-6a4,4,0,0,0-4-4h-32a4,4,0,0,0-4,4v6a6,6,0,0,0,6,6h5c5.917,0,7-8,7-8A2,2,0,0,1,471.5,1025Z" transform="translate(-447 -981)")
										path.item__svg(d="M463.5,986.5a22.007,22.007,0,0,0-14,20.5l-2,2v4s7.25,2,24,2,24-2,24-2v-4l-2-2a22.007,22.007,0,0,0-14-20.5" transform="translate(-447 -981)")
										path.item__svg(d="M463.5,993v-7.5A2.5,2.5,0,0,1,466,983h11a2.5,2.5,0,0,1,2.5,2.5V993" transform="translate(-447 -981)")
										path.item__svg(d="M471.5,981v14m-16,11.91h32" transform="translate(-447 -981)")
										path.item__svg(d="M451.5,1029h-4v-6h4m40,6h4v-6h-4m-26.167-4-12.751,12.75m8.75-12.75-9.5,9.5m17.24-9.24-14.448,14.45" transform="translate(-447 -981)")
								p.item__title Oбщестроительные работы
							.item__wrap
								p.item__text Производим комплексные капитальные, косметические или евро-ремонты
								a.more.more_black(href="#") Узнать больше  
									svg.arow(width="42" height="6.969" viewBox="0 0 42 6.969")
										path.arow__item.arow__item_black(d="M1095,568.138h39.57l-1.83,1.641a0.64,0.64,0,0,0-.19.374,0.512,0.512,0,0,0,.12.375l0.14,0.188a0.572,0.572,0,0,0,.8,0l2.98-2.7a0.021,0.021,0,0,0,.02-0.024l0.19-.187a0.451,0.451,0,0,0,.16-0.363,0.522,0.522,0,0,0-.16-0.387l-0.19-.188h-0.02v-0.023l-3.03-2.766a1,1,0,0,0-.2-0.117,0.493,0.493,0,0,0-.42,0,0.487,0.487,0,0,0-.17.117l-0.15.188a0.466,0.466,0,0,0-.11.375,0.592,0.592,0,0,0,.19.375l1.78,1.617h-39.5Z" transform="translate(-1094.97 -563.906)")
						li.item__block
							.item__hover
							div
								.item__img
									svg(width="64.156" height="61.219" viewBox="0 0 64.156 61.219")
										path.item__svg(d="M780.133,1016.89a3.022,3.022,0,0,1-3.032-3.01v-4.51a3.032,3.032,0,0,0-6.063,0v18.11a3.032,3.032,0,0,1-6.063,0v-10.09a3.032,3.032,0,0,0-6.063,0v14.11a3.032,3.032,0,0,1-6.063,0v-20.85a3.032,3.032,0,0,0-6.064,0v0.73a3.032,3.032,0,0,1-6.063,0V992.319a3.032,3.032,0,0,1,6.063,0v4.514a3.032,3.032,0,0,0,6.064,0V985.3a3.032,3.032,0,0,1,6.063,0v5.015a3.032,3.032,0,0,0,6.063,0V984.3a3.032,3.032,0,0,1,6.063,0v7.02a3.032,3.032,0,0,0,6.063,0v-2.507a3.032,3.032,0,0,1,6.063,0v25.071A3.022,3.022,0,0,1,780.133,1016.89Z" transform="translate(-740.219 -980.781)")
										path.item__svg.item__svg_fill(d="M758.018,1014.67l19.042-19.055a3.126,3.126,0,0,1,4.424,0l4.424,4.425a3.135,3.135,0,0,1,0,4.43l-19.042,19.06a3.131,3.131,0,0,1-4.424,0l-4.424-4.43A3.135,3.135,0,0,1,758.018,1014.67Zm27.227,11.86,3.667-3.67,3.318,3.32-3.667,3.67Zm3.685,2.96,2.933-2.94,11.8,11.81-2.933,2.93Z" transform="translate(-740.219 -980.781)")
										path.item__svg(d="M786.6,999.938l4.7,4.642-5.918,16.3,2.99,2.95-1.5,1.47-4.049-3.99,5.918-16.3-1.589-1.57" transform="translate(-740.219 -980.781)")
								p.item__title Отделочные работы
							.item__wrap
								p.item__text Поможем спроектировать, провести, уложить и смонтировать
								a.more.more_black(href="#") Узнать больше  
									svg.arow(width="42" height="6.969" viewBox="0 0 42 6.969")
										path.arow__item.arow__item_black(d="M1095,568.138h39.57l-1.83,1.641a0.64,0.64,0,0,0-.19.374,0.512,0.512,0,0,0,.12.375l0.14,0.188a0.572,0.572,0,0,0,.8,0l2.98-2.7a0.021,0.021,0,0,0,.02-0.024l0.19-.187a0.451,0.451,0,0,0,.16-0.363,0.522,0.522,0,0,0-.16-0.387l-0.19-.188h-0.02v-0.023l-3.03-2.766a1,1,0,0,0-.2-0.117,0.493,0.493,0,0,0-.42,0,0.487,0.487,0,0,0-.17.117l-0.15.188a0.466,0.466,0,0,0-.11.375,0.592,0.592,0,0,0,.19.375l1.78,1.617h-39.5Z" transform="translate(-1094.97 -563.906)")
						li.item__block
							.item__hover
							div
								.item__img
									svg(width="65" height="60.94" viewBox="0 0 65 60.94")
										path.item__svg.item__svg_4(d="M1060.51,987.041v-4.948a0.6,0.6,0,0,0-.6-0.6h-9.5a0.6,0.6,0,0,0-.6.6v4.866a10.964,10.964,0,0,0-5.35,2.121L1041.42,986a0.587,0.587,0,0,0-.84,0h0l-6.63,6.721a0.616,0.616,0,0,0,0,.855l3.2,3.245a10.5,10.5,0,0,0-2.43,5.264h-4.62a0.593,0.593,0,0,0-.59.6v9.64a0.593,0.593,0,0,0,.59.6h4.84a13.538,13.538,0,0,0,2.25,5.22l-3.24,3.29a0.61,0.61,0,0,0,0,.85h0l6.63,6.72a0.584,0.584,0,0,0,.78.06,6.331,6.331,0,0,0,.79-0.82c0.34-.38.74-0.84,1.14-1.27s0.79-.86,1.09-1.13q0.12-.1.21-0.18a14.18,14.18,0,0,0,5.22,2.22v5.03a0.6,0.6,0,0,0,.6.6h9.5a0.6,0.6,0,0,0,.6-0.6v-4.72m-21.94-10.06v0Z" transform="translate(-1029 -978)")
										path.item__svg.item__svg_4(d="M1071.2,1029.83l-5.22-6.31h-10.49a15.019,15.019,0,1,1,0-30.038c0.36,0,.48-0.014.48-0.014m3,0.024,2.04,0m10.29-6.375-5.32,6.4L1064,993.5" transform="translate(-1029 -978)")
										path.item__svg.item__svg_4(d="M1083.42,1021.49h-10.87l-4.13-5h-2.45m-2.97,0c-0.58,0-1.43.01-2.03,0.01m-2.97,0h-2.51a8.005,8.005,0,0,1-.01-16.01c1.25,0,12.94.02,12.94,0.02l4.13-5h10.87m-27.93,4.98h0Z" transform="translate(-1029 -978)")
										path.item__svg.item__svg_4(d="M1065.97,1008.49h0Zm-2.96,0h0Zm-5.01,0c-0.58,0-1.43,0-2.03.01Z" transform="translate(-1029 -978)")
										path.item__svg.item__svg_4(d="M1088.53,1003.5a4.97,4.97,0,1,1-4.97,4.97A4.963,4.963,0,0,1,1088.53,1003.5Zm0-13a4.97,4.97,0,1,1-4.97,4.969A4.966,4.966,0,0,1,1088.53,990.5Zm-14-12a4.969,4.969,0,1,1-4.97,4.969A4.966,4.966,0,0,1,1074.53,978.5Zm14,38a4.97,4.97,0,1,1-4.97,4.97A4.963,4.963,0,0,1,1088.53,1016.5Zm-14,12a4.97,4.97,0,1,1-4.97,4.97A4.963,4.963,0,0,1,1074.53,1028.5Z" transform="translate(-1029 -978)")
								p.item__title Инжиниринг
							.item__wrap
								p.item__text Поможем спроектировать, провести, уложить и смонтировать
								a.more.more_black(href="#") Узнать больше  
									svg.arow(width="42" height="6.969" viewBox="0 0 42 6.969")
										path.arow__item.arow__item_black(d="M1095,568.138h39.57l-1.83,1.641a0.64,0.64,0,0,0-.19.374,0.512,0.512,0,0,0,.12.375l0.14,0.188a0.572,0.572,0,0,0,.8,0l2.98-2.7a0.021,0.021,0,0,0,.02-0.024l0.19-.187a0.451,0.451,0,0,0,.16-0.363,0.522,0.522,0,0,0-.16-0.387l-0.19-.188h-0.02v-0.023l-3.03-2.766a1,1,0,0,0-.2-0.117,0.493,0.493,0,0,0-.42,0,0.487,0.487,0,0,0-.17.117l-0.15.188a0.466,0.466,0,0,0-.11.375,0.592,0.592,0,0,0,.19.375l1.78,1.617h-39.5Z" transform="translate(-1094.97 -563.906)")
			section#counters.counters
				.counters__container
					h2.title-section.title-section_white Бизнес в цифрах
					ul.number
						mixin number(img, text)
							li.number__item
								.number__wrap
									img.number__img(src="img/#{img}.png" alt="#{img}")
									.number__text= text
								svg.number__arow-box(width="17.875" height="36.35" viewBox="0 0 17.875 36.35")
									path.number__arow(d="M898.24,1675.23l9.121-14.06-9.121-13.9" transform="translate(-896.25 -1643.06)")
								a.more(href="#") Узнать больше  
									svg.arow(width="42" height="6.969" viewBox="0 0 42 6.969")
										path.arow__item(d="M1095,568.138h39.57l-1.83,1.641a0.64,0.64,0,0,0-.19.374,0.512,0.512,0,0,0,.12.375l0.14,0.188a0.572,0.572,0,0,0,.8,0l2.98-2.7a0.021,0.021,0,0,0,.02-0.024l0.19-.187a0.451,0.451,0,0,0,.16-0.363,0.522,0.522,0,0,0-.16-0.387l-0.19-.188h-0.02v-0.023l-3.03-2.766a1,1,0,0,0-.2-0.117,0.493,0.493,0,0,0-.42,0,0.487,0.487,0,0,0-.17.117l-0.15.188a0.466,0.466,0,0,0-.11.375,0.592,0.592,0,0,0,.19.375l1.78,1.617h-39.5Z" transform="translate(-1094.97 -563.906)")
						+number("20", "лет успешной работы")
						+number("200", "созданных объектов")
						+number("50", "штатных сотрудников")
						+number("100", "проверенных подрядчиков и поставщиков")
					img.counters__diagramma(src="img/diagramma.png")
			section#projects.projects
				.projects__container
					h2.title-section Наши проекты
					ul.project
						mixin project(float, img, pClass, name, year, area, client, text1, text2)
							li.project__item.clearfix
								div(class="project__block  project__block_#{float}")
									.project__shadow
									img.project__img(src="img/project#{img}.jpg")
									p.project__class= pClass
									p.project__name= name
									a.more.more_black(href="#") Смотреть проект  
										svg.arow(width="42" height="6.969" viewBox="0 0 42 6.969")
											path.arow__item.arow__item_black(d="M1095,568.138h39.57l-1.83,1.641a0.64,0.64,0,0,0-.19.374,0.512,0.512,0,0,0,.12.375l0.14,0.188a0.572,0.572,0,0,0,.8,0l2.98-2.7a0.021,0.021,0,0,0,.02-0.024l0.19-.187a0.451,0.451,0,0,0,.16-0.363,0.522,0.522,0,0,0-.16-0.387l-0.19-.188h-0.02v-0.023l-3.03-2.766a1,1,0,0,0-.2-0.117,0.493,0.493,0,0,0-.42,0,0.487,0.487,0,0,0-.17.117l-0.15.188a0.466,0.466,0,0,0-.11.375,0.592,0.592,0,0,0,.19.375l1.78,1.617h-39.5Z" transform="translate(-1094.97 -563.906)")
								.project__about
									.project__head
										p.project__title Факты о проекте
										p.project__tag Год: 
											span.project__tag_bold= year
										p.project__tag Плошадь: 
											span.project__tag_bold= area
												| м
												sup 2
										p.project__tag Заказчик: 
											span.project__tag_bold= client
									.project__texts
										p.project__text= text1
										p.project__text= text2
						+project("left", "1", "Офисные помещения", "Офис азиатской компании", "2014", "117", "Segoe Hitachi", "Разработка проекта офисного помещения, как при строительстве, так и при ремонте офисов, с учетом требований к рабочим местам сотрудников, а также с учетом условий, повышающих их работоспособность;", "Разработка проектов инженерных сетей для офиса – вытяжной и кондиционирующей систем, электропроводки, компьютерных сетей и т.д.")
						+project("right", "2", "Офисные помещения", "Офисы Мрия Агрохолдинг", "2015", "103", "Мрия Агрохолдинг", "Разработка проекта офисного помещения, как при строительстве, так и при ремонте офисов, с учетом требований к рабочим местам сотрудников, а также с учетом условий, повышающих их работоспособность;", "Разработка проектов инженерных сетей для офиса – вытяжной и кондиционирующей систем, электропроводки, компьютерных сетей и т.д.")
						+project("left", "3", "Административные объекты", "Школа-гимназия", "2016", "284", "Школа-гимназия", "Разработка проекта офисного помещения, как при строительстве, так и при ремонте офисов, с учетом требований к рабочим местам сотрудников, а также с учетом условий, повышающих их работоспособность;", "Разработка проектов инженерных сетей для офиса – вытяжной и кондиционирующей систем, электропроводки, компьютерных сетей и т.д.")
			section#rules.rules
				.rules__container
					h2.title-section Как мы работаем
					ul.rule
						mixin rule(top, title, text)
							li(class="rule__item #{top}")
								.rule__wrap
									.rule__img
									.rule__title= title
									.rule__text= text
								a.more.more_black(href="#") Узнать больше  
									svg.arow(width="42" height="6.969" viewBox="0 0 42 6.969")
										path.arow__item.arow__item_black(d="M1095,568.138h39.57l-1.83,1.641a0.64,0.64,0,0,0-.19.374,0.512,0.512,0,0,0,.12.375l0.14,0.188a0.572,0.572,0,0,0,.8,0l2.98-2.7a0.021,0.021,0,0,0,.02-0.024l0.19-.187a0.451,0.451,0,0,0,.16-0.363,0.522,0.522,0,0,0-.16-0.387l-0.19-.188h-0.02v-0.023l-3.03-2.766a1,1,0,0,0-.2-0.117,0.493,0.493,0,0,0-.42,0,0.487,0.487,0,0,0-.17.117l-0.15.188a0.466,0.466,0,0,0-.11.375,0.592,0.592,0,0,0,.19.375l1.78,1.617h-39.5Z" transform="translate(-1094.97 -563.906)")
						+rule("rule__item_top", "Договор генподряда", "Четкое следование утвержденным планам и графикам, не бросаем клиента после сдачи объекта")
						+rule("", "Комплексное решение", "Делаем все работы полностью под ключ")
						+rule("rule__item_top", "Авторский и технический надзор проекта", "Прорабское управление и контроль объекта на месте")
						+rule("", "Договор на послегарантийное обслуживание", "")
			section#partners.partners
				.partners__container
					h2.title-section Наши партнеры
					.partners__img
						img(src="img/parthers.png", alt="")
			section#connection.connection
				.connection__container
					h2.title-section.title-section_white Заполните форму
					p.connection__text для бесплатного замера объекта и просчета сметы
					.connection__block
						form.form(action="#")
							mixin input(id, label, type, required)
								.form__block
									label.form__label(for="#{id}")= label
									input.form__input(id="#{id}" type="#{type}")
									.form__eror Неверный формат поля
							+input("name", "Имя", "text")
							+input("email", "E-mail", "email")
							+input("tel", "Телефон", "tel")
							.form__block.form__block_file
									label.form__label.form__label_file(for="file") Прикрепите проектную документацию
									input.form__input.form__input_file(id="file" type="file")
							+input("post", "Ваша должность", "text")
							+input("company", "Название компании", "text")
							button.form__submit(type="submit") Отправить 
								p.form__submit_img.icon-paper-plane
		footer.footer
			.footer__container
				.footer__wrap.footer__wrap_column
					.footer__logo
						img(src="img/logoSmale.png", alt="BILDEX")
					ul.sosial
						li.sosial__icon
							a.sosial__link.icon-social-facebook(href="#")
						li.sosial__icon
							a.sosial__link.icon-social-twitter(href="#")
						li.sosial__icon
							a.sosial__link.icon-social-instagram(href="#")
				ul.footer__wrap
					mixin contacts(title, text)
						li.contacts
							.contacts__title= title
							.contacts__text= text
					+contacts("Адрес", "01021, Украина, г. Киев, ул. М. Грушевского, 28/2")
					+contacts("Телефон", "(067)462-06-07, (067)409-45-97")
					+contacts("Email", "in@bildex.ua")
			.footer__bottom
				p.footer__version © 2017 Все права защищены
				p.footer__makebecool Адаптивные сервисы от 
					a.makebecool(href="#") makebecool










		script(src="js/jquery-3.3.1.min.js")
		script(src="js/common.js")
